---
extends: default.j2
default_block: main
title: The Public Fields.
---

{% block content %}

<header class="hero-unit">
    <h1>Textmap</h1>
</header>

<div class="row">
<div class="span12">
    <p>
        Textmap is a worldmap drawn by country names in their own languages.
    </p>
</div>
</div>

<!-- This is hidden if the backend is online. -->
<div id="eps-customizer-error">
<div class="row">
<div class="span12">
    <p>
        Loading data from the backend...
    </p>
    <p>
        (If this message stays for too long, the backend is offline, or JavaScript is disabled.)
    </P>
</div>
</div>
</div>

<!-- This stays hidden until colors dictionary is obtained from the backend,
which means that the backend is online. -->
<div id="eps-customizer-wrapper" style="type:hidden">

<div class="row">
<div class="span8">
    <img id="map_thumbnail" width="100%" class="img-polaroid" />
</div>
<div class="span4">
    <p>
        Crude preview of the map. RGB colors are given for reference.
    </p>
    <p>
        The preview is updated automatically as you change colors or the aspect ratio.
    </p>
</div>
</div>

<hr/>

<div class="row">
    <div class="span12">

        <form class="form-horizontal">
        <fieldset>
            <div class="control-group">
            <label class="control-label">Aspect ratio</label>
            <div class="controls">
                <label class="radio">
                <input type="radio" name="aspect_radios" id="aspect_robinson" checked>
                Robinson projection (1.95/1)
                </label>
                <label class="radio">
                <input type="radio" name="aspect_radios" id="aspect_golden">
                Golden ratio (1.62/1)
                </label>
                <label class="radio">
                <input type="radio" name="aspect_radios" id="aspect_A">
                A series paper (1.41/1)
                </label>
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">Color scheme</label>
            <div class="controls">
                <label class="radio">
                <input type="radio" name="color_radios" id="palette-dark" checked>
                Dark background
                </label>
                <label class="radio">
                <input type="radio" name="color_radios" id="palette-light">
                Light background
                </label>
                <label class="radio">
                <input type="radio" name="color_radios" id="palette-white">
                White background
                </label>
            </div>
            </div>

            <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Show colors
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">

                    <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                        <input type="checkbox" name="show_colors" id="show_colors">
                        Set CMYK values manually
                        </label>
                    </div>
                    </div>

                    <div id="color-values">
                    {% for colorname in ['main1', 'main2', 'main3', 'main4', 'main5',
                        'ice1', 'ice2', 'ice3', 'ice5', 'iceneutral', 'ocean'] %}
                    {% set description = {
                        'main1': 'Russia',
                        'main2': 'Canada',
                        'main3': 'Brasil',
                        'main4': 'USA',
                        'main5': 'Mexico',
                        'ice1': 'Argentine Antarctica',
                        'ice2': 'Ross Dependency',
                        'ice3': 'Australian Antarctic Territory',
                        'ice5': 'British Antarctic Territory',
                        'iceneutral': 'Mary Byrd Land (neutral)',
                        'ocean': 'Ocean'}[colorname]
                    %}
                    <div class="control-group success" id="color-group-{{ colorname }}">
                    <label class="control-label" for="color-{{ colorname }}-c">{{ description }}</label>
                    <div class="controls">
                    {% for colortype in ['c', 'm', 'y', 'k'] %}
                      <input class="input-small disabled" id="color-{{ colorname }}-{{ colortype }}" type="text" value="0" disabled>
                    {% endfor %}
                    </div>
                    </div>
                    {% endfor %}
                    </div>

                    </div>
                </div>
            </div>
            </div>

            <a href="javascript:void()" id="eps-link">Get the EPS</a>
        </fieldset>
        </form>
    </div>

</div>

<!-- end of #eps-customizer-wrapper -->
</div>

<script type="text/javascript" src="{{ media_url('js/jquery-1.8.1.min.js') }}"></script>
<script type="text/javascript" src="{{ media_url('js/bootstrap-transition.js') }}"></script>
<script type="text/javascript" src="{{ media_url('js/bootstrap-collapse.js') }}"></script>

<script type="text/javascript" src="{{ media_url('js/textmap.js') }}"></script>

<!-- JSONP request to get colors from the backend -->
<!-- Does not work. Bloody paranoid browsers.
<script type="text/javascript" src="http://backend.publicfields.net/textmap/colors?callback=processColors"></script>
-->

{% endblock %}
