@import "bootstrap/variables.less";

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid @grayLight;
  font-size: @baseFontSize * 0.7;
}

.footer p {
  margin-bottom: 0;
  color: @gray;
}
