<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<title>{% block title %}{{ resource.meta.title }}{% endblock title %}</title>
	<link rel="shortcut icon" href="{{ media_url('ico/favicon.ico') }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ media_url('css/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/main.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">

<header class="hero-unit">
    <h1>The Public Fields.</h1>
</header>

{% filter typogrify %}
{% block content %}
{% endblock content %}
{% endfilter %}

<footer class="footer">
<p class="pull-right">
    Last updated: {{ resource.source.last_modified }}
</p>
<p>
    &copy; Bogdan Opanchuk.
    Powered by <a href="http://hyde.github.com">Hyde</a>.
</p>
</footer>

</div>

</body>
</html>
