<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<title>{% block title %}{{ resource.meta.title }}{% endblock title %}</title>
	<link rel="shortcut icon" href="{{ media_url('ico/favicon.ico') }}" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ media_url('css/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ media_url('css/main.css') }}" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock content %}

</body>
</html>
